<main>
  <section class="intro">
    <img src="background.jpg" alt="Tábor kép"/>
  </section>

  <section class="programok">
    <h2>🎨 Programok</h2>
    <div class="card-container">
      @for(program of programs; track trackById($index,program)){
        <app-program-items [program]="program"></app-program-items>
      }
    </div>
  </section>
  
  <section class="cta">
    <h2>🎉 Csatlakoznál?</h2>
    <!--<a routerLink="/reg" class="button">Jelentkezés</a>-->
    <button mat-raised-button (click)="changePage()">🎒 Jelentkezem</button>
  </section>
</main>