<main>
  <section class="intro">
    <img src="background.jpg" alt="Tábor kép"/>
  </section>

  <section class="programok">
    <h2>🎨 Programok</h2>
    <div class="card-container">
      @for(program of programs; track trackById($index,program)){
        <mat-card class="program-card" [ngClass]="{'hover': track === program.id}"
        (mouseenter)="track = program.id"
        (mouseleave)="track = 0">
          <mat-card-title>{{program.name}}</mat-card-title>
          <br>
          <mat-card-content>
            <p><strong>Időpont:</strong> {{program.date}}</p>
            <p><strong>Helyszín:</strong> {{program.place}}</p>  
          </mat-card-content>
        </mat-card>
      }
    </div>
  </section>
  
  <section class="cta">
    <h2>🎉 Csatlakoznál?</h2>
    <!--<a routerLink="/reg" class="button">Jelentkezés</a>-->
    <button mat-raised-button (click)="changePage()">🎒 Jelentkezem</button>
  </section>
</main>